@charset "utf-8";

@import "../../node_modules/bulma/sass/utilities/initial-variables";
// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

// Set your brand colors
$yellow: #ffcd3f;
$darkBlue: #182538;
$lightBlue: #304057;
$powderWhite: #fdfffc;
$red: #c93838;
$green: #0ab110;
$dark: #000000;


// Update Bulma's global variables
$family-sans-serif: "Montserrat", sans-serif;
$primary: $yellow;
$link: $yellow;
$link-hover: $powderWhite;
$info: $lightBlue;
$success: $green;
$danger: $red;
$dark: $darkBlue;
$text: $powderWhite;

// Body
$body-background-color: $darkBlue;
// Text
$title-color: $powderWhite;
$subtitle-color: $powderWhite;

// Update some of Bulma's component variables
$input-background-color: $powderWhite;


// Import the rest of Bulma and others components
@import "../../node_modules/bulma/bulma";
@import "../../node_modules/bulma-pageloader/dist/css/bulma-pageloader"
